body{
margin: 0;
padding: 0;
background-color: #f4f4f4;
}
#category ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#category{
 background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding:0;
  width: 167px;
  height: 216px;
  box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  border-radius: 8px;
  
}
#category ul{
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  
  
  
}
#category ul li{
  margin: 0;
  padding: 0;
  display: block;
  border: none;
}
#category ul li a{
  text-align: left;
  text-decoration: none;
  display: block;
  color: rgb(0, 0, 0);
  padding: 8px;
 
}
#category ul li a:hover{
    
  background: #eaeaea;
}
#category ul:hover {
background-color: white;
}
#cart{
  position: absolute;
  left:1350px;
  top: 12px;
}

#product{
  box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  padding: 0;
}