body{
margin: 0;
padding: 0;
}
#category ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#category{
 background-color: rgb(240 240 240);
  border-radius: 8px;
  padding:0;
  height:600px
}
#category ul{
  list-style-type: none;
  margin: 0;
  padding: 5px;
  text-align: left;
  font-size: 20px;
  display:block;
     
  
  
  
}
#category ul li a{
 text-decoration: none;
  color:black
 
}
#category ul:hover {
background-color: white;
}